In [1]:
[1, 2, 3].shape

AttributeError: 'list' object has no attribute 'shape'

In [3]:
import numpy as np

In [4]:
a = np.array([[1, 2, 3],
        [3, 4, 5]])

In [7]:
b = np.array([[5, 6, 7]])

In [9]:
np.concatenate([a, b], axis=0)

array([[1, 2, 3],
       [3, 4, 5],
       [5, 6, 7]])

In [27]:
import pandas as pd
file_path = 'Data/ml-1m/movies.dat'
genre_df = pd.read_csv(file_path, sep='::', header=None, encoding='ISO-8859-1')

/var/folders/cg/2vt5wbq5767fsxv0005k5x4m0000gn/T/ipykernel_48947/612822962.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  genre_df = pd.read_csv(file_path, sep='::', header=None, encoding='ISO-8859-1')

In [23]:
import pandas as pd
file_path = 'Data/ml-1m/ratings.dat'
rating_df = pd.read_csv(file_path, sep='::', header=None)

/var/folders/cg/2vt5wbq5767fsxv0005k5x4m0000gn/T/ipykernel_48947/314683465.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  rating_df = pd.read_csv(file_path, sep='::', header=None)

In [25]:
rating_df.columns = ['uid', 'sid', 'rating', 'timestamp']
rating_df

          uid   sid  rating  timestamp
0           1  1193       5  978300760
1           1   661       3  978302109
2           1   914       3  978301968
3           1  3408       4  978300275
4           1  2355       5  978824291
...       ...   ...     ...        ...
1000204  6040  1091       1  956716541
1000205  6040  1094       5  956704887
1000206  6040   562       5  956704746
1000207  6040  1096       4  956715648
1000208  6040  1097       4  956715569

[1000209 rows x 4 columns]

In [28]:
genre_df.columns = ['sid', 'title', 'genre']
genre_df

       sid                               title                         genre
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy
...    ...                                 ...                           ...
3878  3948             Meet the Parents (2000)                        Comedy
3879  3949          Requiem for a Dream (2000)                         Drama
3880  3950                    Tigerland (2000)                         Drama
3881  3951             Two Family House (2000)                         Drama
3882  3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 3 columns]

In [30]:
df = rating_df.merge(genre_df[['sid', 'genre']], how='left', on='sid')

In [31]:
df

          uid   sid  rating  timestamp                            genre
0           1  1193       5  978300760                            Drama
1           1   661       3  978302109     Animation|Children's|Musical
2           1   914       3  978301968                  Musical|Romance
3           1  3408       4  978300275                            Drama
4           1  2355       5  978824291      Animation|Children's|Comedy
...       ...   ...     ...        ...                              ...
1000204  6040  1091       1  956716541                           Comedy
1000205  6040  1094       5  956704887                Drama|Romance|War
1000206  6040   562       5  956704746                     Comedy|Drama
1000207  6040  1096       4  956715648                            Drama
1000208  6040  1097       4  956715569  Children's|Drama|Fantasy|Sci-Fi

[1000209 rows x 5 columns]

In [36]:
x = torch.tensor([[1, 2, 0, 4, 5], [6, 7, 8, 9, 0]])

In [37]:
mask = (x > 0).unsqueeze(1).repeat(1, x.size(1), 1).unsqueeze(1)

In [39]:
mask.shape

torch.Size([2, 1, 5, 5])

In [38]:
mask

tensor([[[[ True,  True, False,  True,  True],
          [ True,  True, False,  True,  True],
          [ True,  True, False,  True,  True],
          [ True,  True, False,  True,  True],
          [ True,  True, False,  True,  True]]],


        [[[ True,  True,  True,  True, False],
          [ True,  True,  True,  True, False],
          [ True,  True,  True,  True, False],
          [ True,  True,  True,  True, False],
          [ True,  True,  True,  True, False]]]])

In [3]:
from options import args
from model.bert import BERT
from dataset.dataset import ML1MDataset
from dataloader.dataloader import BertDataloader
from trainer.trainer import BERTTrainer
from utils import *

/Users/kyeongchanlee/.pyenv/versions/3.9.9/envs/candidate/lib/python3.9/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [4]:
export_root = setup_train(args)

dataset = ML1MDataset(args)

Folder created: /Users/kyeongchanlee/PycharmProjects/BertCustom/BertCustom/experiments/test_2023-02-10_26
{'bert_dropout': 0.1,
 'bert_hidden_units': 256,
 'bert_mask_prob': 0.15,
 'bert_max_len': 100,
 'bert_num_blocks': 2,
 'bert_num_heads': 4,
 'best_metric': 'NDCG@10',
 'dataloader_code': 'bert',
 'dataloader_random_seed': 0.0,
 'dataset_code': 'ml-1m',
 'dataset_split_seed': 98765,
 'decay_step': 25,
 'device': 'cpu',
 'device_idx': '0',
 'enable_lr_schedule': True,
 'eval_set_size': 500,
 'experiment_description': 'test',
 'experiment_dir': 'experiments',
 'gamma': 1.0,
 'log_period_as_iter': 12800,
 'lr': 0.001,
 'metric_ks': [1,
               5,
               10,
               20,
               50,
               100],
 'min_rating': 0,
 'min_sc': 0,
 'min_uc': 5,
 'mode': 'train',
 'model_code': 'bert',
 'model_init_seed': 0,
 'num_epochs': 100,
 'num_gpu': 1,
 'optimizer': 'Adam',
 'split': 'leave_one_out',
 'test_batch_size': 128,
 'test_negative_sample_size': 100,
 'test_negative_sampler_code': 'random',
 'test_negative_sampling_seed': 98765,
 'train_batch_size': 128,
 'train_negative_sample_size': 0,
 'train_negative_sampler_code': 'random',
 'train_negative_sampling_seed': 0,
 'trainer_code': 'bert',
 'val_batch_size': 128,
 'weight_decay': 0}

In [5]:
dataloader = BertDataloader(args, dataset)

Already preprocessed. Skip preprocessing
Negatives samples exist. Loading.
Negatives samples exist. Loading.

In [15]:
dataloader.train[0][:10]

[2969, 1574, 957, 1178, 2147, 1658, 3177, 1117, 2599, 689]

In [21]:
dataloader.smap[131]

126